/*? Setting Variables - NOTE THEY NEED "--" to work*/

:root {
    /* --body-bg: #000024; */
    /* --nav-bg: transparent; */
    /*Background colors could be transparent*/
    --nav-text: #e40000;
    --menu-options-text: #f9f7f7;
    --menu-options-text-hover: #f9f7f7;
    --column-bg: #000000;
    --column-headers: #f9f7f7;
    /*TODO: Insert Columns and column hover here. */
    --spotlight-bg: #141414;
    --spotlight-text: #ffffff;
    --spotlight-carousel-bg: #141414;
    --movie-title-bg: #f9f7f7;
    --movie-text: #000000;
    --movie-grid-bg: #f9f7f7;
    --show-title-bg: #f9f7f7;
    --show-text: #f9f7f7;
    --show-grid-bg: #f9f7f7;
    --footer-bg: #880027;
    --footer-text: ;
    --footer-text-hover: ;
    --footer-copyright-text: ;
    --main-color: #c0392b;
    --body-bg: #141414;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --space-top: 30px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 7vh;
    /* This is because fixed navigation bar takes it out of flow */
    box-sizing: border-box;
    /*Takes padding into account*/
    background-color: var(--body-bg);
}


/*? PopUp Alert */

#mask {
    position: fixed;
    z-index: 9000;
    background-color: #000000;
}

#boxes .window {
    position: fixed;
    /*This changes the width of the alert box*/
    text-align: center;
    border-radius: 15px;
    z-index: 9999;
}

#boxes #dialog {
    background-color: #ffffff;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 15pt;
    line-height: 2.2rem;
}


/*? End of PopUp Alert */


/*? Navigation */

.complete-navigation {
    display: flex;
    position: fixed;
    top: 0;
    /*Controls Heading height & color*/
    height: 7vh;
    /*Viewport height. 1vh = 1%*/
    width: 100vw;
    background: var(--nav-bg);
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0));
    /* Changed last rgba value to three zeros (to exclude gradient) */
}

.complete-navigation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
    /* Default format is top to bottom*/
}

#title {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    font-weight: 400;
    letter-spacing: 0.4rem;
    color: var(--nav-text);
    font-size: 2rem;
}

.nav-links {
    display: flex;
    /*side by side*/
    list-style: none;
    /*removes bullet points*/
    width: 100%;
    /*Moves div to 50%*/
    height: 100%;
    /*Keeps Div usage at 100%*/
    justify-content: space-around;
    /*On menu items*/
    align-items: center;
    /*Centers within the div*/
    margin-left: auto;
    /*Moves to the far right*/
}

.nav-links li a {
    color: var(--menu-options-text);
    text-decoration: none;
    /*Removes underline*/
    font-size: 1.5rem;
    /*Menu options*/
}

.navbar {
    display: flex;
    overflow: hidden;
}

.navbar a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--menu-options-text-hover);
}


/*? Wishlist - btn specifies button */

.nav-links li a .dropbtn {
    border: none;
    /*Removes border of button*/
    outline: none;
    /*Removes outline of button. Both of these are needed*/
    color: inherit;
    /*Needed to keep button color the same*/
    background-color: inherit;
    /*Needed to keep button background color*/
    font: inherit;
    /*Needed to keep button with same font*/
}

.nav-links li a .dropbtn i {
    font-size: 17px;
}


/*? End of BTN */

.dropdown-content {
    display: none;
    position: absolute;
    padding: 0.1rem 0 0 0;
    width: 100%;
    /* Controls width of all dropdown wdith space of entire page*/
    right: 0;
    z-index: 1;
}

.all-rows {
    display: flex;
}

.all-columns {
    box-sizing: border-box;
    /*33.33 includes padding and margin*/
    width: 50%;
    /*This controls the width of each column in consideration with entire dropdown width space*/
    padding: 10px;
    background-color: var(--column-bg);
}

.all-columns h3 {
    color: var(--column-headers);
    margin: 5px 0 10px 0;
    font-size: 1.35rem;
}

.all-columns a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.all-columns a:hover {
    background-color: #ddd;
}


/*? End of Navigation*/


/*? Microwave Section */


/* ! Somethings wrong here. The navigation is wrong. */

#microwave-section {
    position: relative;
    height: 50vh;
    /**Total height and margin equals desired total height of webpage (75 in this case)**/
    background-color: #f8f8f8;
    overflow: hidden;
}


/*? End of Microwave Section */


/*? Movie Storage Section */

#movie-storage-section {
    position: relative;
    height: 50vh;
    /**Total height and margin equals desired total height of webpage**/
    background-color: #141414;
    overflow: hidden;
}


/*? End of Movie Storage Section */


/*? All Box Container Section */

.box-container {
    display: flex;
    /* margin: 0 5rem; */
    /* padding: 0 7rem; */
    justify-content: space-around;
}


/*? End of All Box Container Section */


/*? Box Option 1 Section */

.box-option-1 {
    /* margin: 5rem; */
    width: 40%;
}

#box-option-1-light {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, 0%);
}

#box-option-1-light h1 {
    font-size: 3rem;
}

#box-option-1-light h3 {
    font-size: 1.2rem;
    line-height: 1.75rem;
}

#box-option-1-dark {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, 0%);
    color: #f9f7f7;
}

#box-option-1-dark h1 {
    font-size: 3rem;
}

#box-option-1-dark h3 {
    font-size: 1.2rem;
    line-height: 1.75rem;
}


/*? End of Box Option 1 Section */


/*? Box Option 2 Section */

#microwave-image {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    /* margin: 9.36rem 2.5rem; */
    /* width: 800px; */
    width: auto;
    height: auto;
}

#movie-storage-image {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, 0%);
    /* margin: 2.38rem 0; */
    width: 450px;
    /* height: 650px; */
    height: auto;
}

#curtain-image {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, 0%);
    /* margin: 9.36rem 2.5rem; */
    /* width: 800px; */
    width: auto;
    height: 450px;
}

#puzzle-image {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, 0%);
    /* margin: 2.38rem 0; */
    width: 750px;
    /* height: 650px; */
    height: auto;
}


/*? End of Box Option 2 Section */


/*! Button Test 1 */

.raise {
    margin-top: 2rem;
    padding: 1em 2em;
    --color: #ff6060;
    --hover: #e40000;
    font: 300 1em 'Fira Sans', sans-serif;
    font-weight: 750;
    line-height: 1;
    background: none;
    color: var(--color);
    border: 2px solid;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.raise:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    border-color: var(--hover);
    color: var(--hover);
}

.raise:active {
    background-color: #4e4e4e1f;
}


/*! End of Button Test 1 */


/*? Footer Section */

#footer-section {
    margin: 2rem 0 0 0;
    padding: 0 0 1rem 0;
    background-color: #000000;
    color: rgb(170, 170, 170);
}

#footer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.all-footer-titles {
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    text-align: center;
}

#footer-thanks {
    width: 15%;
    color: rgb(170, 170, 170);
}

#footer-thanks-note {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #535353;
}

#footer-links {
    display: flex;
}

#footer-links ul {
    margin: 0 1rem 0 0;
    list-style: none;
    line-height: 2.5rem;
}

#footer-links li a {
    color: #535353;
    text-decoration: none;
}

#footer-links li a:hover {
    text-decoration: underline;
    color: #8a8a8a;
}

#footer-contact-options {
    line-height: 2.5rem;
    color: #535353;
}

#img-social-wrapper {
    margin-top: 1rem;
    width: 11%;
}

#img-social-wrapper img {
    width: 100%;
    /* Do not change this width change the img-social-wrapper */
}

#social-media-icons ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#social-media-icons ul li {
    font-size: 30px;
    margin: 5px 15px;
}

#social-media-icons ul li a {
    color: #535353;
}

#social-media-icons ul li a:hover {
    color: #8a8a8a;
}


/*? End of Footer Section */


/*? Media Styles - MINIMUM WIDTH*/

@media screen and (min-width: 1200px) {
    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 2;
    }
}


/*? End of Media Styles - MINIMUM WIDTH*/


/*? Media Styles - MAXIMUM WIDTH*/

@media screen and (max-width: 1800px) {
    #footer-wrapper {
        /* display: flex;
        justify-content: space-around;
        flex-wrap: wrap; */
        flex-direction: column;
    }
    #footer-thanks {
        width: 100%;
    }
}

@media screen and (max-width: 1500px) {
    /*? Navigation */
    /*? End of Navigation */
    /*? Carousel Wrapper */
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 20%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 25rem;
        /* Increases the movie height */
    }
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 1200px) {
    /*? Navigation */
    #title {
        font-size: 1.5rem;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    /*? End of Navigation */
    /*? Movie Spotlight Section */
    .item-content-wraper {
        padding-left: 3rem;
    }
    .item-content-title {
        font-size: 3rem;
        line-height: 3rem;
    }
    .movie-info {
        font-size: 0.65rem;
        font-weight: lighter;
    }
    .item-content-description {
        font-size: 0.90rem;
        line-height: 1.30rem;
    }
    /*? End of Movie Spotlight Section */
    /*? Carousel Wrapper */
    .header h1 {
        padding: 0 0 0 0.75rem;
        font-size: 1.5rem;
    }
    /** Buttons */
    .flickity-prev-next-button {
        width: 4%;
    }
    /** End of Buttons */
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 1100px) {
    /*? Carousel Wrapper */
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 25%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 20rem;
        /* Increases the movie height */
    }
    /** Dots */
    .flickity-page-dots {
        top: -8%;
    }
    /** End of Dots */
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 1000px) {
    /*? Movie Spotlight Section */
    .item-content-wraper {
        padding-left: 2rem;
    }
    .item-content-title {
        font-size: 2rem;
        line-height: 2rem;
    }
    .item-content-description {
        font-size: 0.80rem;
        line-height: 1.10rem;
    }
    /*? End of Movie Spotlight Section */
    /*? Carousel Wrapper */
    .header h1 {
        margin: 2rem 0 1rem 1rem;
        padding: 0 0 0 0.5rem;
        font-weight: normal;
        font-size: 1.25rem;
    }
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 900px) {
    body.freeze {
        overflow: hidden;
    }
    #boxes #dialog {
        font-size: 10pt;
        line-height: 1.8rem;
    }
    header {
        position: relative;
        z-index: 5;
    }
    #title {
        width: 100%;
    }
    .nav-links {
        position: fixed;
        background: #000000;
        height: 50vh;
        padding-bottom: 50vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(25px at 105% -5%);
        -webkit-clip-path: circle(25px at 105% -5%);
        transition: all 2s ease-out;
        /*Creates flow out instead of shooting*/
        pointer-events: none;
        /*Safety for existing clicks on the page.*/
        /*While this is open, it cancels clicking on homepage elements.*/
        overflow-y: scroll;
        z-index: -1;
    }
    /*! Java Script Class */
    .nav-links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        /*Opens clicking function back up. So, this means*/
        /*individuals would't be able to click homepage elements while menu open*/
    }
    /*? Controlling the menu titles after open hamburger.*/
    .nav-links li {
        opacity: 0;
        /*Makes menu items disappear*/
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li a {
        font-size: 25px;
    }
    /*! Java Script Class*/
    li.fade {
        opacity: 1;
    }
    .navbar {
        flex-direction: column;
        display: inline;
    }
    .fa {
        position: relative;
        z-index: -1
    }
    .dropdown-content {
        padding: 0 0 0 0;
    }
    .all-rows {
        flex-direction: column;
    }
    .all-columns {
        width: 100%;
        height: auto;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        /*Moves menu further left as it gets higher*/
        top: 50%;
        /*Puts menu 50% way down from nav, notice position*/
        transform: translate(-5%, -50%);
        /*X and Y Coordinates*/
        /*Moves slightly up and left*/
        /*z-index: 2;*/
        /*This would be needed if the header wasn't staying*/
    }
    .line {
        width: 30px;
        height: 3px;
        background: #e40000;
        margin: 5px;
    }
    /*! Java Script Class */
    .show {
        display: block;
    }
    /*? Movie Spotlight Section */
    .item-content-wraper {
        padding-left: 2rem;
    }
    .item-content-title {
        font-size: 2rem;
        line-height: 2rem;
    }
    .item-content-description {
        display: none;
    }
    /*? End of Movie Spotlight Section */
    /*? Carousel Wrapper */
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 30%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 20rem;
        /* Increases the movie height */
    }
    /*? End of Carousel Wrapper */
    /*! Decide whether or not we want to format a footer */
    footer {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    /*? Navigation */
    .complete-navigation {
        background-color: #000000;
    }
    /*? End of Navigation */
    /*? Movie Spotlight Section */
    /**Note: This movie-section margin top is used to keep us seperated from our navigation bar */
    .movie-section {
        margin-top: 7vh;
    }
    .item-content-wraper {
        padding-left: 2rem;
    }
    .item-content-title {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    /*? End of Movie Spotlight Section */
    /*? Carousel Wrapper */
    .header h1 {
        margin: 1.5rem 0 1rem 1rem;
        padding: 0 0 0 0.5rem;
        font-weight: normal;
        font-size: 0.9rem;
    }
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 35%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 17rem;
        /* Increases the movie height */
    }
    /** Dots */
    .flickity-page-dots {
        top: -8%;
    }
    .flickity-page-dots .dot {
        width: 8px;
    }
    /** End of Dots */
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 600px) {
    /*? Navigation section */
    #title {
        font-size: 1rem;
    }
    .line {
        width: 25px;
        height: 2px;
    }
    /*? End of Navigation Section */
}

@media screen and (max-width: 500px) {
    /*? Navigation section */
    #title {
        font-size: 0.75rem;
        letter-spacing: 0.2rem;
    }
    .line {
        width: 20px;
        height: 1.80px;
        margin: 3px;
    }
    /*? End of Navigation Section */
    /*? Movie Spotlight Section */
    .movie-info {
        display: none;
    }
    /*? End of Movie Spotlight Section */
    /*? Carousel Wrapper */
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 40%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 15rem;
        /* Increases the movie height */
    }
    /** Buttons */
    .flickity-prev-next-button {
        width: 5%;
    }
    /** End of Buttons */
    /** Dots */
    .flickity-page-dots {
        top: -10%;
    }
    /** End of Dots */
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 400px) {
    /*? Carousel Wrapper */
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 40%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 12rem;
        /* Increases the movie height */
    }
    /** Dots */
    .flickity-page-dots {
        top: -12%;
    }
    .flickity-page-dots .dot {
        width: 6px;
    }
    /** End of Dots */
    /*? End of Carousel Wrapper */
}

@media screen and (max-width: 300px) {
    /*? Carousel Wrapper */
    .carousel-cell {
        /*! width = space between imgs.*/
        width: 50%;
        /*100% width here means 1 movie on the page at a time.*/
    }
    .carousel-cell img {
        height: 10rem;
        /* Increases the movie height */
    }
    /*? End of Carousel Wrapper */
}


/*? End of Media Styles - MAXIMUM WIDTH*/